@use "../../../../../styles//breakpoints" as bp;

.container {
  .breadcrumb {
    margin-top: 0 !important;
  }
  .imagesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    .cover {
      width: 100%;
      border-radius: 0.5rem;
    }
    .avatar {
      border-radius: 50%;
      margin-top: -5rem;
      object-fit: cover;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .field {
    width: 100%;
  }
  button {
    width: 50%;
  }
  .form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .row {
      width: 100%;
      display: flex;
      gap: 1rem;
    }
  }
}

@include bp.respond-to(md) {
  .container {
    .imagesBox {
      .cover {
        height: 150px;
        object-fit: cover;
      }
      .avatar {
        width: 100px;
        height: 100px;
        margin-top: -3.5rem;
      }
    }
    .form {
      width: 100%;
    }
  }
}