// @font-face {
//     font-family: 'MadaniArabic';
//     src: url('/fonts/MadaniArabic-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }

@font-face {
  font-family: 'Alexandria-Regular';
  src: url('/fonts/Alexandria-Regular.ttf');
}
@font-face {
    font-family: 'Alexandria-Medium';
    src: url('/fonts/Alexandria-Medium.ttf');
}
@font-face {
    font-family: 'Alexandria-SemiBold';
    src: url('/fonts/Alexandria-SemiBold.ttf');
}
@font-face {
    font-family: 'Alexandria-Bold';
    src: url('/fonts/Alexandria-Bold.ttf');
}
@font-face {
  font-family: 'Alexandria-ExtraBold';
  src: url('/fonts/Alexandria-ExtraBold.ttf');
}
@font-face {
  font-family: 'Alexandria-Light';
  src: url('/fonts/Alexandria-Light.ttf');
}
@font-face {
  font-family: 'Alexandria-ExtraLight';
  src: url('/fonts/Alexandria-ExtraLight.ttf');
}
@font-face {
  font-family: 'Alexandria-Thin';
  src: url('/fonts/Alexandria-Thin.ttf');
}
@font-face {
  font-family: 'Alexandria-Black';
  src: url('/fonts/Alexandria-Black.ttf');
}



//new font 
@font-face {
  font-family: 'Tajawal-Regular';
  src: url('/fonts/Tajawal/Tajawal-Regular.ttf');
}
@font-face {
    font-family: 'Tajawal-Medium';
    src: url('/fonts/Tajawal/Tajawal-Medium.ttf');
}
@font-face {
    font-family: 'Tajawal-SemiBold';
    src: url('/fonts/Tajawal/Tajawal-Bold.ttf');
}
@font-face {
    font-family: 'Tajawal-Bold';
    src: url('/fonts/Tajawal/Tajawal-Bold.ttf');
}
@font-face {
  font-family: 'Tajawal-ExtraBold';
  src: url('/fonts/Tajawal/Tajawal-ExtraBold.ttf');
}
@font-face {
  font-family: 'Tajawal-Light';
  src: url('/fonts/Tajawal/Tajawal-Light.ttf');
}
@font-face {
  font-family: 'Tajawal-ExtraLight';
  src: url('/fonts/Tajawal/Tajawal-ExtraLight.ttf');
}
@font-face {
  font-family: 'Alexandria-Thin';
  src: url('/fonts/Alexandria-Thin.ttf');
}
@font-face {
  font-family: 'Alexandria-Black';
  src: url('/fonts/Alexandria-Black.ttf');
}


$AlexandriaThin:        'Alexandria-Thin';
$AlexandriaExtraLight:  'Tajawal-ExtraLight';
$AlexandriaLight:       'Tajawal-Light';
$AlexandriaRegular:     'Tajawal-Regular';
$AlexandriaMedium:      'Tajawal-Medium';
$AlexandriaSemiBold:    'Tajawal-SemiBold';
$AlexandriaBold:        'Tajawal-Bold';
$AlexandriaExtraBold:   'Tajawal-ExtraBold';
$AlexandriaBlack:       'Alexandria-Black';