@use './breakpoints' as bp;
@use './variables' as *;
@use './mixins' as *;
@use './typography' as *;


body {
  margin: 0;
  padding: 0;
  color: $color-dark;
  font-family: 'Alexandria-Regular', sans-serif;

  h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
  }

  .app-container {
    max-width: $container-max-width;
    margin: 0 auto;

    @include bp.respond-to(md) {
      box-sizing: border-box;
      padding-inline: 16px !important; 
    }
  }

  .marginTop{
    margin-top: 120px;

    @include bp.respond-to(md) {
      margin-top: 80px;
    }
  }

  .webHeader {
    display: block;
  
    // hide web header on small screens (<= 768px)
    @include bp.respond-to(md) {
      display: none;
    }
  }
  
  .mobileHeader {
    display: none;
  
    // show mobile header on small screens (<= 768px)
    @include bp.respond-to(md) {
      display: flex;
    }
  }

}

//page loader styles
.global-loader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(128, 128, 128, 0.4);
  z-index: 9999; 
  backdrop-filter: blur(2px); 
}

.global-loader__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.global-loader__logo {
  width: 80px;   
  height: auto;
}

.global-loader__text {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}


:where(.css-dev-only-do-not-override-1odpy5d).ant-input-lg {
  padding: 15px 11px !important;
  font-family: $AlexandriaRegular !important;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-1odpy5d).ant-input-outlined:focus-within{
  border-color: $color-primary !important;
  box-shadow: unset !important;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-input {
  width: 115% !important;
}

.Input_label__7m2Q1{
  margin-bottom: 0 !important;
  font-family: $AlexandriaRegular !important;
}

.SelectInput_select__YBrRH .SelectInput_customSelect__RV5ip{
  height: 42px !important;
  padding: 0 !important;
}

.css-dev-only-do-not-override-1odpy5d.ant-form-item .ant-form-item-explain-error {
  font-family: $AlexandriaRegular !important;
}